/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	/*background-color:#ce4718;*/
	background-color:#efefef;
	/*William modify font for windows*/
	/*font-family:'AbelRegular';*/
	font-family:'AbelRegular', "微軟正黑體";
	position:relative;
}
a {
	outline:none;
}

p {
	font-family:Arial, Helvetica, sans-serif;
}
p a {
	color:#5c3820!important;
	text-decoration:underline!important;
}
p a:hover {
	color:#995d36!important;
}
/*
#background-green {
	background:url(../images/bg-green-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
*/
/*william add zenbo color*/
#background-zenboblue {
	background:url(../images/bg-zenbo_blue-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-zenboyellow {
	background:url(../images/bg-zenbo_yellow-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-yellow {
	background:url(../images/bg-yellow-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-lightyellow {
	background:url(../images/bg-lightyellow-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
#background-lightgreen {
	background:url(../images/bg-lightgreen-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}
/*william add zenbo blue 2*/
#background-zenboblue2 {
	background:url(../images/bg-zenbo_blue-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}

#background-green2 {
	background:url(../images/bg-green2-absolute.png);
	height:100%;
	margin:0;
	position:absolute;
	right:0;
	text-indent:-99999px;
	width:51%;
	z-index:-1;
}

/*------------------------- Pages ------------------------*/
.page {
	width:960px;
	margin:0 auto;
}
.page .home-page {
	background:url(../images/bg-home.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .about-page {
	background:url(../images/bg-about.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .project-page {
	background:url(../images/bg-project.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .blog-page {
	background:url(../images/bg-blog.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
.page .contact-page {
	background:url(../images/bg-contact.png) repeat-y right top;
	overflow:hidden;
	min-height:1440px;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'AbelRegular';
	src: url('../fonts/abel-regular-webfont.eot');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/abel-regular-webfont.woff') format('woff'),  url('../fonts/abel-regular-webfont.ttf') format('truetype'),  url('../fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Sidebar ------------------------*/
.sidebar {
	width:122px;
	float:left;
}
.sidebar a#logo {
	display:block;
	/*william modified logo margin*/
	/*margin:37px 0 0 18px;*/
	margin:37px 0 0 20px;
}
.sidebar ul {
	list-style:none;
	margin:46px 0 0;
	padding:0;
}
.sidebar ul li {
	min-height:0!important;
	margin-top:-4px;
}
.sidebar ul li a {
	/*Sidebar Text*/
	color:#FFF;
	/*william modify font*/
	/*font-family:AbelRegular;*/
	font-family:AbelRegular, "微軟正黑體"; 
	font-size:18px;
	letter-spacing:.04em;
	line-height:215px;
	text-transform:uppercase;
	display:block;
	text-decoration:none;
	text-align:center;
	float:right;
}

.sidebar ul li.selected.home a, .sidebar ul li.selected.home:hover a {
	/*HOME scetion (selected)*/
	border-radius: 10px 0 0px 10px;  /*william add*/
	width:122px;
	/*background:url(../images/nav-icon.png) no-repeat 36px -56px #7b8846;*/
	background:url(../images/nav-icon.png) no-repeat 36px -56px #13abe1;
}
.sidebar ul li.home:hover a {
	width:114px;
	/*background:url(../images/nav-icon.png) no-repeat 33px -56px #7b8846;*/
	background:url(../images/nav-icon.png) no-repeat 33px -56px #13abe1;
}
.sidebar ul li.home a {
	/*HOME scetion (non-selected)*/
	width:114px;
	height:144px;
	/*background:url(../images/nav-icon.png) no-repeat 33px 45px #7b8846;*/
	background:url(../images/nav-icon.png) no-repeat 33px 45px #13abe1;
}
.sidebar ul li.selected.about a, .sidebar ul li.selected.about:hover a {
	border-radius: 10px 0 0px 10px;  /*william add*/
	width:122px;
	/*background:url(../images/nav-icon.png) no-repeat 36px -271px #cba200;*/
	background:url(../images/nav-icon.png) no-repeat 36px -271px #f3be07;
}
.sidebar ul li.about:hover a {
	width:114px;
	/*background:url(../images/nav-icon.png) no-repeat 33px -271px #cba200;*/
	background:url(../images/nav-icon.png) no-repeat 33px -271px #f3be07;
}
.sidebar ul li.about a {
	width:114px;
	height:144px;
	/*background:url(../images/nav-icon.png) no-repeat 33px -163px #cba200;*/
	background:url(../images/nav-icon.png) no-repeat 33px -163px #f3be07;
}
.sidebar ul li.selected.projects a, .sidebar ul li.selected.projects:hover a {
	border-radius: 10px 0 0px 10px;  /*william add*/
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 36px -480px #c0ac66;
}
.sidebar ul li.projects:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -480px #c0ac66;
}
.sidebar ul li.projects a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px -377px #c0ac66;
}
.sidebar ul li.selected.blog a, .sidebar ul li.selected.blog:hover a {
	border-radius: 10px 0 0px 10px;  /*william add*/
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 38px -675px #aec066;
}
.sidebar ul li.blog:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 35px -675px #aec066;
}
.sidebar ul li.blog a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 35px -576px #aec066;
}
.sidebar ul li.selected.contact a, .sidebar ul li.selected.contact:hover a {
	border-radius: 10px 0 0px 10px;  /*william add*/
	width:122px;
	background:url(../images/nav-icon.png) no-repeat 37px -848px #528846;
}
.sidebar ul li.contact:hover a {
	width:114px;
	background:url(../images/nav-icon.png) no-repeat 33px -848px #528846;
}
.sidebar ul li.contact a {
	width:114px;
	height:144px;
	background:url(../images/nav-icon.png) no-repeat 33px -763px #528846;
}
.sidebar div.connect {
	position:absolute;
	bottom:0;
	margin:0 0 29px 57px;
}
.sidebar div.connect a {
	text-indent:-99999px;
	display:block;
}
.sidebar div.connect a#fb {
	background:url(../images/icons.png) no-repeat 0 0;
	width:26px;
	height:24px;
	margin-bottom:20px;
}
.sidebar div.connect a#fb:hover {
	background:url(../images/icons.png) no-repeat 0 -276px;
}
.sidebar div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 -25px;
	width:26px;
	height:20px;
	margin-bottom:17px;
}
.sidebar div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -301px;
}
.sidebar div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -46px;
	width:26px;
	height:23px;
	margin-bottom:16px;
}
.sidebar div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -322px;
}
.sidebar div.connect a#youtube {
	background:url(../images/icons.png) no-repeat 0 -70px;
	width:26px;
	height:24px;
}
.sidebar div.connect a#youtube:hover {
	background:url(../images/icons.png) no-repeat 0 -346px;
}
/*------------------------- Body ------------------------*/
.body {
	float:right;
	padding:44px 0 0;
	position:relative;
	width:838px;
}
.body .content-home div {
	background-color:#fff;
	margin:-9px 5px 0 18px;
	overflow:hidden;
	padding:26px 30px 21px;
}
.body .content-home div h3 {
	color:#825444;
	float:left;
	/*william modify font for windows*/
	/*font-family:AbelRegular;*/ 
	font-family:AbelRegular, "微軟正黑體";
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0;
	text-transform:uppercase;
	width:270px;
}
.body .content-home div h3 span.beauty {
	color:#26bcb3;
}
.body .content-home div h3 span.function {
	color:#aec066;
}
.body .content-home div h3 span.works {
	color:#ff9600;
}
/*william add font color*/
.body .content-home div h3 span.zenbo {
	color:#12afe2;
}
.body .content-home div h3 span.scratch {
	color:#f3be07;
}

.body .content-home div p {
	color:#5c3820;
	float:left;
	/*william modify font for windows*/
	/*font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
	font-family:AbelRegular, "微軟正黑體";
	/*font-size:15px;*/
	font-size:17px;
	line-height:30px;
	margin:2px 0 0 110px;
	width:350px;
}
.body .content-home div ul {
	list-style:none;
	margin:11px 0 25px;
	overflow:hidden;
	padding:0;
}
.body .content-home div ul li {
	float:left;
	margin:0 0 0 35px;
	position:relative;
	width:360px;
}
.body .content-home div ul li h4 {
	margin:32px 0 0;
	position:absolute;
	right:10px;
	top:118px;
}
.body .content-home div ul li h4 a {
	color:#fff;
	/*william modify font for windows*/
	/*font-family:"Myriad Pro", "Gill Sanｚs", "Gill Sans MT", Calibri, sans-serif;*/
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size:24px;
	font-weight:400;
	line-height:24px;
	text-transform:uppercase;
}
.body .content-home div ul li h4 a:hover {
	text-decoration:none;
}
.body .content-home div ul li h3 {
	float:none;
	line-height:24px;
	margin:21px 0 0;
	width:auto;
}
.body .content-home div ul li h3 a {
	/*color:#7b8846;*/
	color:#13abe1;
	float:none;
	/*william modify font for windows*/
	/*font-family:AbelRegular;*/
	font-family:AbelRegular, "微軟正黑體";
	/*font-size:21px;*/
	font-size:23px;
	text-decoration:none;
	text-transform:none;
}
.body .content-home div ul li p {
	color:#5c3820;
	float:none;
	/*font-size:13px;*/
	font-size:px;
	letter-spacing:.02em;
	line-height:24px;
	margin:26px 0 25px;
	/*width:325px;*/
	width:360px;
}
.body .content-home div ul li p a {
	color:#5c3820;
	float:none;
	font-size:13px;
	text-decoration:underline;
	text-transform:none;
}
.body .content-home div ul li p a:hover {
	/*color:#7b8846;*/
	color:#13abe1;
}
.body .content-home div ul li a {
	clear:both;
	color:#ce4718;
	/*William modify font for windows*/
	/*font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size:16px;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .content-home div ul li a:hover {
	filter:alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity:0.9;
}
.body .content-about div:first-child {
	background:none #FFF;
	margin-top:0;
	padding-bottom:0;
	
}
.body .content-about div {
	background:url(../images/bg-2-column.png) repeat-y;
	background-color:#fff;
	margin:-9px 5px 0 18px;
	overflow:hidden;
	/*william modify bottom padding*/
	/*padding:26px 0 189px 30px;*/	
	padding:26px 0 30px 30px;	
}
.body .content-about div:first-child h3 {
	/*william: Getting Started Text*/
	color:#5c3820;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0 0 36px;
	text-transform:uppercase;
	font-weight:bold; 	/*william add this line to modify font*/
}
.body .content-about div div {
	/*william: content layout*/
	float:left;
	margin:0;
	padding:5px 60px 0 0;
	/*width:444px;*/
	width:620px;
	
}

.body .content-about div div h1 {
	/* text head color*/
	color:#7b8846;
	font-size:21px;
	font-weight:400;
	line-height:24px;
	margin:0;
	
	/*william add this line to modify font*/
	font-family:AbelRegular, "微軟正黑體";
	font-weight:bold;
}
.body .content-about div div p {
	/*context text*/
	color:#5c3820;
	/*font-size:13px;*/
	font-size:18px;
	/*letter-spacing:.02em;*/
	line-height:24px;
	margin:0 0 22px;
	padding:0 0 0 1px;
	
	/*william add this line to modify font*/
	font-family:AbelRegular, "微軟正黑體";

}
.body .content-about div div.sidebar {
	background:none;
	float:left;
	padding:0;
	width:281px;
}
.body .content-about div div.sidebar div:first-child {
	border:0;
	padding-bottom:7px;
}
.body .content-about div div.sidebar div:first-child a {
	color:#5c3820;
	display:block;
	font-size:13px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 12px;
	text-decoration:none;
}
.body .content-about div div.sidebar div:first-child a:hover {
	color:#ce4718;
}
.body .content-about div div.sidebar div {
	background:none;
	border-top:1px solid #e2d4b1;
	padding:0 20px;
	width:241px;
}
.body .content-about div div.sidebar div h3 {
	color:#7B8846;
	font-size:21px;
	font-weight:400;
	margin:13px 0 8px;
	text-transform:none;
}
.body .content-about div div.sidebar div ul {
	list-style:none;
	margin:-10px 0 0 -8px;
	overflow:hidden;
	padding:3px 0 5px;
}
.body .content-about div div.sidebar div ul li {
	float:left;
	padding:10px;
	width:63px;
}
.body .content-about div div.sidebar div.section ul li {
	margin:9px 0 0;
	padding:0;
	width:241px;
}
.body .content-about div div.sidebar div.section ul li a:first-child {
	float:left;
	margin:9px 20px 0 0;
}
.body .content-about div div.sidebar div.section ul li a {
	color:#5c3820;
	float:left;
	/*william modify font for windows*/
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size:12px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	margin:6px 0 0;
	text-transform:none;
}
.body .content-about div div.sidebar div.section ul li a:hover {
	text-decoration:none!important;
	color:#ce4718;
}
.body .content-about div div.sidebar div.section ul li span a {
	display:inline;
	float:none!important;
	font-size:10px;
	font-weight:400;
	margin:0!important;
}

/*william add about page - example div css*/
.body .content-about div ul {
	list-style:none;
	margin:11px 0 25px;
	overflow:hidden;
	padding:0;
}
.body .content-about div ul li {
	float:left;
	margin:0 0 0 35px;
	position:relative;
	width:360px;
}
.body .content-about div ul li h4 {
	margin:32px 0 0 0;
	position:absolute;
	right:10px;
	top:118px;
}
.body .content-about div ul li h4 a {
	color:#fff;
	/*william modify font for windows*/
	/*font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
	font-family:"Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size:24px;
	font-weight:400;
	line-height:24px;
	text-transform:uppercase;
}
.body .content-about div ul li h4 a:hover {
	text-decoration:none;
}





.body .content-project div:first-child {
	padding-bottom:0;
	/*william disble padding since effect sildeshow*/
	/*
	padding-top:26px;
	*/
}
.body .content-project div:first-child div.navigation {
	float:right;
	margin:0 20px 0 0;
	padding:0;
	text-align:right;
}
.body .content-project div:first-child div.navigation a#prev {
	background:url(../images/icons.png) no-repeat left -207px;
	border-right:1px solid #dd8514;
	color:#5d3820;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 15px 0 17px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .content-project div:first-child div.navigation a#next {
	background:url(../images/icons.png) no-repeat 95px -176px;
	color:#5d3820;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 22px 0 10px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .content-project div:first-child div.navigation a#next:hover, .body .content-project div:first-child div.navigation a#prev:hover {
	color:#5d3820;
	text-decoration:underline!important;
}
.body .content-project div {

	background-color:#FFF;
	margin:0 5px 0 18px;
	overflow:hidden;
	padding:1px 0 21px 30px;	

}

/*william create for example detail*/
.body .content-project-detail div {

	background-color:#FFF;
	margin:0 5px 0 18px;
	overflow:hidden;
	padding:1px 15px 21px 1px;	
	

}


.body .content-project div:first-child h3 {
	color:#5c3820;
	/*display:inline-block;*/
	display:block;
	/*float:left;*/
	font-size:27px;
	/*font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0;*/
	text-transform:uppercase;
	
	font-weight:bold; 	/*william add this line to modify font*/
}

/*william create for example detail*/
.body .content-project-detail div:first-child h3 {
	color:#5c3820;
	display:inline-block;
	float:left;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0;
	text-transform:uppercase;
	
	padding: 10px 0px 0px 15px;
}


/*william add h4*/
.body .content-project-detail div:first-child h4 {
	color:#676767;
	display:inline-block;
	float:left;
	font-size:22px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0;
	/*text-transform:uppercase;*/
	padding: 0px 0px 0px 50px;
}


/*
.body .content-project div.navigation {
	overflow:hidden;
	padding-top:10px;
}
.body .content-project div.navigation span {
	color:#5c3820;
	float:left;
	font-family:AbelRegular;
	font-size:19px;
	letter-spacing:.02em;
	line-height:22px;
}
.body .content-project div.navigation ul {
	float:left;
	list-style:none;
	margin:0 0 0 30px;
	overflow:hidden;
	padding:0;
}
.body .content-project div.navigation ul li {
	float:left;
	margin:0 20px 0 0;
	width:auto;
}
.body .content-project div.navigation ul li a {
	color:#5c3820;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	text-decoration:none;
}
*/
.body .content-project div ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.body .content-project div ul li {
	/*example page alignment*/
	float:left;
	/*float:right;*/ /*test*/
	margin:0 0 20px;
	width:388px;
}
/*
.body .content-project div ul li:first-child span {
	margin:0 20px 0 0;
}
*/
.body .content-project div ul li span {
	/*example caption text color*/
	background-color:#dd8514;
	display:block;
	height:35px;
	/*width:368px;*/
	width:378px;
	
	border-radius: 15px;	/*William add*/
}
.body .content-project div ul li span a {
	/*example caption color and style*/
	color:#FFF;
	font-size:18px;
	line-height:33px;
	margin:0 0 0 15px;
	text-decoration:none;
}
.body .content-project div ul li span a:hover {
	text-decoration:none!important;
}
.body .content-project div div.paging {
	margin:201px 0 13px;
	padding:0;
}
.body .content-project div div.paging ul {
	float:left;
	overflow:hidden;
}
.body .content-project div div.paging ul li {
	float:left;
	margin:0 5px 0 0;
	width:auto;
}
.body .content-project div div.paging ul li.selected a, .body .content-project div div.paging ul li a:hover {
	background-color:#dd8514;
}
.body .content-project div div.paging ul li a {
	background-color:#5c3820;
	color:#fff;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:23px;
	line-height:24px;
	text-align:center;
	text-decoration:none;
	width:23px;
}
.body .content-project div div.paging span {
	color:#5c3820;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 28px 0 0;
	text-transform:uppercase;
}

.body .content-project div.figure img {
	
	/*william modify for example page*/
	/*display:block;*/
	display:block;

}

.body .content-project div.figure span {
	background-color:#dd8514;
	color:#000000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:30px;
	line-height:30px;
	position:absolute;
	right:28px;
	text-indent:15px;
	top:410px;
	width:198px;
}

.body .content-project div.figure div h3 {
	/*example page title text*/
	color:#7b8846;
	font-size:21px;
	font-weight:400;
	line-height:24px;
	margin:0 0 14px;
}


.body .content-project div.figure div p {
	color:#5c3820;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0;
}



.body .content-project div ul li a img {
	/*william add selector for example img*/
	width:368px;
	border-radius: 15px;	/*william add*/	
	border: 1px solid #ccc; /*william add*/
    padding: 5px;	/*william add*/
}



.body .content-blog div div {
	background:none;
	float:left;
	margin:0;
	padding:0 31px 0 0;
	/*width:473px;*/
	width:773px;
}

/*william modify content-blog h3 level*/
.body .content-blog div:first-child h3 {
	/*william: Getting Started Text*/
	color:#5c3820;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0 0 36px;
	text-transform:uppercase;
	font-weight:bold; 	/*william add this line to modify font*/
}
/*
.body .content-blog div div h3 {
	color:#5C3820;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0 0 57px;
	text-transform:uppercase;
}
*/


.body .content-blog div div ul {
	list-style:none;
	margin:0;
	padding:0;
}
.body .content-blog div div ul li {
	border-bottom:1px solid #e2d4b1;
	padding:29px 0 20px;
}
.body .content-blog div div ul li h4 {
	margin:20px 0 10px;
}
.body .content-blog div div ul li h4 a {
	color:#7B8846;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	text-transform:none;
}
.body .content-blog div div ul li div span:first-child {
	background:url(../images/icons.png) no-repeat left -130px;
	float:left;
	padding:0 0 0 22px;
}
.body .content-blog div div ul li div span a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height:20px;
	text-transform:none;
	color:#5c3820;
}
.body .content-blog div div ul li div span {
	background:url(../images/icons.png) no-repeat left -154px;
	color:#5c3820;
	display:inline-block;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:16px;
	line-height:20px;
	margin:0 0 17px;
	padding:0 0 0 23px;
}
.body .content-blog div div ul li p {
	color:#5C3820;
	font-size:13px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 26px;
	padding:0 0 0 1px;
}
.body .content-blog div div ul li a {
	color:#ce4718;
	text-decoration:none;
	text-transform:uppercase;
}
.body .content-blog div div div.paging {
	margin:1109px 0 34px;
	padding:0;
}
.body .content-blog div div div.paging ul {
	float:left;
	overflow:hidden;
}
.body .content-blog div div div.paging ul li {
	float:left;
	margin:0 5px 0 0;
	padding:0;
	width:auto;
}
.body .content-blog div div div.paging ul li.selected a {
	background-color:#DD8514;
}
.body .content-blog div div div.paging ul li a {
	background-color:#5C3820;
	color:#FFF;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:23px;
	line-height:24px;
	text-align:center;
	text-decoration:none;
	width:23px;
}
.body .content-blog div div div.paging span {
	background:url(../images/bg-2-column.png) repeat-y;	  /*william add blocks page background*/
	color:#5C3820;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 28px 0 0;
	text-transform:uppercase;
}
.body .content-blog div div.sidebar div form input {
	background:url(../images/icons.png) no-repeat 0 -250px;
	border:0;
	float:left;
	height:25px;
	margin:0 0 0 5px;
	width:21px;
}
.body .content-blog-single div div h3 {
	color:#5C3820;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0 0 7px;
	text-transform:uppercase;
}
.body .content-blog-single div div div.paging {
	margin:0 0 15px;
	overflow:hidden;
}
.body .content-blog-single div div div.paging a.next {
	background:url(../images/icons.png) no-repeat 134px -176px;
	color:#5D3820;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 27px 0 0;
	text-decoration:none;
	text-transform:uppercase;
	margin: 0 10px;
}
.body .content-blog-single div div div.paging a.prev {
	background:url(../images/icons.png) no-repeat 0 -206px;
	color:#5D3820;
	display:inline-block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:36px;
	padding:0 17px 0 15px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .content-blog-single div div ul {
	list-style:none outside none;
	margin:0;
	padding:0;
}
.body .content-blog-single div div ul li h4 {
	color:#7B8846;
	font-size:18px;
	font-weight:400;
	margin:16px 0 10px;
	text-decoration:none;
	text-transform:none;
}
.body .content-blog-single div div ul li div span:first-child {
	background:url(../images/icons.png) no-repeat 0 -130px;
	float:left;
	padding:0 0 0 22px;
}
.body .content-blog-single div div ul li div span a {
	color:#5C3820;
	text-decoration:none;
}
.body .content-blog-single div div ul li div span a:hover {
	text-decoration:underline;
}
.body .content-blog-single div div ul li div span {
	background:url(../images/icons.png) no-repeat 0 -156px;
	color:#5C3820;
	display:inline-block;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:16px;
	line-height:20px;
	margin:0 0 17px;
	padding:0 0 0 23px;
}
.body .content-blog-single div div ul li div.section {
	border-top:1px solid #E2D4B1;
	padding:21px 0 154px;
}
.body .content-blog-single div div ul li div.section div span {
	background:none;
	color:#5c3820;
	display:block;
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	letter-spacing:.02em;
	line-height:20px;
	margin:0 0 5px;
	padding:0;
}
.body .content-blog-single div div ul li div.section div div {
	float:left;
	margin:0 20px 0 0;
	padding:0;
	width:60px;
}
.body .content-blog-single div div ul li div.section div div a {
	display:block;
	float:none;
	margin:0 0 3px;
}
.body .content-blog-single div div ul li div.section div h4 {
	color:#7b8846;
	display:block;
	float:none;
	font-size:21px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 24px;
	padding:0 0 0 1px;
	text-align:left;
}
.body .content-blog-single div div ul li div.section div div span {
	color:#5C3820;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:16px;
	line-height:20px;
	text-align:center;
}
.body .content-blog-single div div ul li div.section div a {
	color:#ce4718;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 28px;
	text-decoration:none;
}
.body .content-blog-single div div ul li div.section div p a {
	float:none;
	margin:0;
}
.body .content-blog-single div div ul li div.section div form {
	border-top:1px solid #E2D4B1;
	clear:both;
	margin:0 0 46px;
	padding:23px 0 0;
}
.body .content-blog-single div div ul li div.section div form h4 {
	margin:0 0 12px;
}
.body .content-blog-single div div ul li div.section div form textarea {
	background-color:#eee;
	border:1px solid #b9b9b9;
	color:#939393;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:122px;
	letter-spacing:.02em;
	margin:0 0 20px;
	overflow:auto;
	padding:4px 10px;
	resize:none;
	width:451px;
}
.body .content-blog-single div div.sidebar div form input {
	background:url(../images/bg-search.png) no-repeat;
	border:0;
	float:left;
	height:25px;
	margin:0 0 0 5px;
	width:21px;
}
.body .content-contact div {
	background:url(../images/bg-2-column.png) repeat-y scroll 0 0 transparent;
	margin:0 5px 0 18px;
	overflow:hidden;
	padding:26px 0 603px 30px;
}
.body .content-contact div div h3 {
	color:#5C3820;
	font-size:27px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:36px;
	margin:0 0 52px;
	text-transform:uppercase;
}
.body .content-contact div div p a {
	color:#CE4718;
	margin:0;
	text-decoration:none;
	text-transform:none;
}
.body .content-contact div div form h4 {
	color:#7B8846;
	font-size:21px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 12px;
	text-transform:none;
}
.body .content-contact div div form {
	clear:both;
	margin:0 0 46px;
	padding:4px 0 0;
}
.body .content-contact div div form textarea {
	background-color:#EEE;
	border:1px solid #B9B9B9;
	color:#939393;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:189px;
	letter-spacing:.02em;
	margin:0 0 18px;
	overflow:auto;
	padding:4px 10px;
	resize:none;
	width:451px;
}
.body .content-contact div div.sidebar {
	background:none repeat scroll 0 0 transparent;
	float:left;
	margin:0;
	padding:0 20px;
	width:241px;
}
.body .content-contact div div.sidebar h3 {
	color:#7B8846;
	font-size:21px;
	font-weight:400;
	letter-spacing:.02em;
	line-height:24px;
	margin:9px 0 15px;
	text-transform:none;
}
.body .content-contact div div.sidebar span {
	color:#5c3820;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 12px;
}
.body .content-contact div div.sidebar p {
	color:#5c3820;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 12px;
}
.body .content-contact div div.sidebar p a:hover {
	color:#ce4718!important;
}
.body .content-home div:first-child, .body .content-about div div.sidebar div:first-child h3 {
	margin-top:0;
}
.body .content-home div p a, .body .content-about div div p a, .body .content-project div.figure div p a {
	color:#ce4718;
	text-decoration:none;
}
.body .content-home div p a:hover, .body .content-home div ul li a:hover, .body .content-about div div p a:hover, .body .content-about div div.sidebar div.section ul li a:hover, .body .content-about div div.sidebar div.section ul li span a:hover, .body .content-project div ul li span a:hover, .body .content-project div.figure div p a:hover, .body .content-blog div div ul li p a:hover, .body .content-blog div div ul li a:hover, .body .content-blog-single div div div.paging a:hover, .body .content-blog-single div div ul li h4 a:hover, .body .content-blog-single div div ul li p a:hover, .body .content-blog-single div div ul li div.section div a:hover, .body .content-contact div div p a:hover {
	text-decoration:underline;
}
.body .content-home div.featured, .body .content-about div.featured,.body .content-project div.featured, .body .content-blog div.featured  {
	background:url(../images/shadow.png) no-repeat left bottom;
	margin:0;
	padding:0 0 9px;
	position:relative;
	z-index:1000;
}
.body .content-home div.featured img, .body .content-about div.featured img, .body .content-project div.featured img, .body .content-blog div.featured img{
	display:block;
	margin:0 0 0 13px;
}
.body .content-home div ul li:first-child, .body .content-about, .body .content-about div div.sidebar div ul li:first-child, .body .content-about div div.sidebar div.section ul li:first-child, .body .content-blog div div.sidebar div.blog-categories ul li:first-child, .body .content-blog-single div div.sidebar div.blog-categories ul li:first-child {
	margin:0;
}
.body .content-about div div.sidebar div:first-child a.selected, .body .content-project div.navigation ul li a:hover, .body .content-project div.navigation ul li.selected a {
	color:#ce4718;
}
.body .content-about div div.sidebar div ul li a, .body .content-blog div div.sidebar div ul li a, .body .content-blog-single div div.sidebar div ul li a {
	margin:0 0 -1px;
}
.body .content-about div div.sidebar div ul li a img:hover, .body .content-project div ul li a img:hover, .body .content-blog div div ul li a:first-child img:hover, .body .content-blog div div.sidebar div ul li a img:hover, .body .content-blog-single div div ul li a img:hover, .body .content-blog-single div div.sidebar div ul li a img:hover {
	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity:0.8;
}
.body .content-about div div.sidebar div.section ul, .body .content-blog div div.sidebar div.section ul, .body .content-blog-single div div.sidebar div.section ul {
	margin:0;
	padding:0;
}
.body .content-about div div.sidebar div.section ul li span, .body .content-blog div div.sidebar div.section ul li span, .body .content-blog-single div div.sidebar div.section ul li span {
	display:inline-block;
	font-size:10px;
}
.body .content-blog div, .body .content-blog-single div {
	background:url(../images/bg-2-column.png) repeat-y scroll 0 0 transparent;
	margin:0 5px 0 18px;
	overflow:hidden;
	padding:26px 0 0 30px;
}
.body .content-blog div div ul li:first-child, .body .content-blog div div.sidebar div.section ul li:first-child, .body .content-blog-single div div.sidebar div.section ul li:first-child {
	padding-top:0;
}
.body .content-blog div div ul li p a, .body .content-blog-single div div ul li p a {
	color:#CE4718;
	margin:0;
	text-decoration:none;
	text-transform:none;
}
.body .content-blog div div.sidebar, .body .content-blog-single div div.sidebar {
	background:none repeat scroll 0 0 transparent;
	float:left;
	padding:0;
	width:281px;
}
.body .content-blog div div.sidebar div:first-child, .body .content-blog-single div div.sidebar div:first-child {
	border:0;
	padding-top:0;
}
.body .content-blog div div.sidebar div, .body .content-blog-single div div.sidebar div {
	background:none repeat scroll 0 0 transparent;
	border-top:1px solid #E2D4B1;
	padding:11px 20px 0;
	width:241px;
}
.body .content-blog div div.sidebar div h3, .body .content-blog-single div div.sidebar div h3 {
	color:#7B8846;
	font-size:21px;
	font-weight:400;
	margin:0;
	text-transform:none;
}
.body .content-blog div div.sidebar div form, .body .content-blog-single div div.sidebar div form {
	margin:0 0 17px;
	overflow:hidden;
}
.body .content-blog div div.sidebar div form input:first-child, .body .content-blog-single div div.sidebar div form input:first-child {
	background:none #fff;
	border-color:#fef7e8;
	border-style:solid solid solid none;
	border-width:1px;
	color:#939393;
	font-size:11px;
	height:14px;
	letter-spacing:.02em;
	margin:0;
	padding:5px 5px 4px;
	width:187px;
}
.body .content-blog div div.sidebar div.blog-categories ul, .body .content-blog-single div div.sidebar div.blog-categories ul {
	margin:9px 0 21px;
	padding:0;
}
.body .content-blog div div.sidebar div.blog-categories ul li, .body .content-blog-single div div.sidebar div.blog-categories ul li {
	border:0;
	margin:12px 0 0;
	padding:0;
	width:241px;
}
.body .content-blog div div.sidebar div.blog-categories ul li a, .body .content-blog-single div div.sidebar div.blog-categories ul li a {
	color:#5c3820;
	float:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	margin:0;
	text-align:left;
	text-transform:none;
}
.body .content-blog div div.sidebar div.blog-categories ul li a:hover, .body .content-blog-single div div.sidebar div.blog-categories ul li a:hover {
	color:#ce4718;
	text-decoration:none!important;
}
.body .content-blog div div.sidebar div ul, .body .content-blog-single div div.sidebar div ul {
	list-style:none outside none;
	margin:-7px 0 0 -8px;
	overflow:hidden;
	padding:3px 0 5px;
}
.body .content-blog div div.sidebar div ul li, .body .content-blog-single div div.sidebar div ul li {
	border:0;
	float:left;
	padding:10px;
	width:63px;
}
.body .content-blog div div.sidebar div.section ul li, .body .content-blog-single div div.sidebar div.section ul li {
	padding:6px 0 0;
	width:241px;
}
.body .content-blog div div.sidebar div.section ul li a:first-child, .body .content-blog-single div div.sidebar div.section ul li a:first-child {
	float:left;
	margin:12px 20px 0 0;
}
.body .content-blog div div.sidebar div.section ul li a, .body .content-blog-single div div.sidebar div.section ul li a {
	color:#5C3820;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	letter-spacing:.02em;
	line-height:24px;
	margin:6px 0 0;
	text-transform:none;
}
.body .content-blog div div.sidebar div.section ul li a:hover, .body .content-blog-single div div.sidebar div.section ul li a:hover {
	color:#ce4718;
	text-decoration:none!important;
}
.body .content-blog div div.sidebar div.section ul li span a, .body .content-blog-single div div.sidebar div.section ul li span a {
	display:inline;
	float:none!important;
	font-size:10px;
	font-weight:400;
	margin:0!important;
}
.body .content-blog-single div div, .body .content-contact div div {
	background:none repeat scroll 0 0 transparent;
	float:left;
	margin:0;
	padding:0 31px 0 0;
	width:473px;
}
.body .content-blog-single div div ul li p, .body .content-contact div div p {
	color:#5C3820;
	font-size:13px;
	letter-spacing:.02em;
	line-height:24px;
	margin:0 0 24px;
	padding:0 0 0 1px;
}
.body .content-blog-single div div ul li div.section div form input, .body .content-contact div div form input {
	background-color:#eee;
	border:1px solid #b9b9b9;
	color:#939393;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	letter-spacing:.02em;
	line-height:22px;
	margin:0 0 18px;
	padding:4px 10px;
	width:451px;
}
.body .content-blog-single div div ul li div.section div form input#submit, .body .content-contact div div form input.submit {
	background-color:#dd8514;
	border:0;
	color:#fff;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:23px;
	line-height:0;
	margin:0;
	width:119px;
}
.body .content-blog-single div div ul li div.section div form input#submit:hover, .body .content-contact div div form input.submit:hover {
	background-color:#e0912c;
}
/*------------------------- Footer ------------------------*/
.footer {
	height:35px;
	overflow:hidden;
	margin:0;
	padding:30px 5px 0 18px;
}
.footer p {
	float:left;
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	margin:0;
}
.footer ul {
	float:right;
	overflow:hidden;
	list-style:none;
	margin:-5px 0 0;
	padding:0;
}
.footer ul li {
	float:left;
}
.footer ul li a {
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:2px;
	letter-spacing:.02em;
	text-decoration:none;
	border-left:1px solid #fff;
	padding:0 6px;
}
.footer ul li:first-child a {
	border:0;
}
.footer ul li a:hover {
	text-decoration:underline;
}




/*----------add section ----------*/
.body .content-project-detail table { /*william test*/
    width: 100%;
	/*border-width:3px; border-style:solid;*/
    /*border-collapse: collapse;*/
}


.body .content-project-detail table tr:nth-child(even){
	/*example table even row cell*/
	background-color: #f2f2f2;	
}

.body .content-project-detail table tr{
	height: 45px;
	color: black;  /*font color*/
}


.body .content-project-detail table th{
	/*example table head*/
	background-color: #e2e2e2;
	color: #7f7f7f;    
	border: 2px solid #fff;
    border-radius: 15px 15px 15px 15px;

	width:80px;
}


.body .content-project-detail .bss-slides figure img{
  /*an added css for bss-slides*/
  /*william add*/

	border: 1px solid #ccc; /*william add*/
    padding: 5px;	/*william add*/
	border-color: #7f7f7f;
	background-color: #7f7f7f;
	border-radius: 20px;
}


.body .content-project-detail .bss-slides figure{
  /*william add, define width in each css*/
  /*width: 100%;*/
  width: 762px;
}


.body .content-contact iframe{
	margin: 0px 0px 0px 15px;
}


.body .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0px 0px 5px 15px;  /*add to arrage*/

}

.body .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}





