@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*------------------------- Layout styles ------------------------*/
body {
	margin: 0;
	background-color: #efefef;
	font-family: Noto Sans TC, 'AbelRegular', "微軟正黑體";
	position: relative;
}
a {
	outline: none;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}
/*
p a {
	color:#5c3820!important;c
	text-decoration:underline!important;
}
*/
p a:hover {
	/*color: #995d36!important;*/
	color: #7f7f7f!important;
}
#background-zenbobluegreen {
	background: url(../images/bg-zenbo_bluegreen-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-zenboblue {
	background: url(../images/bg-zenbo_blue-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-zenboyellow {
	background: url(../images/bg-zenbo_yellow-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-yellow {
	background: url(../images/bg-yellow-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-lightyellow {
	background: url(../images/bg-lightyellow-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-lightgreen {
	background: url(../images/bg-lightgreen-absolute.png);
	height: 100%;
	margin: 0;
	position: absolsute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-zenboblue2 {
	background: url(../images/bg-zenbo_blue-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
#background-green2 {
	background: url(../images/bg-green2-absolute.png);
	height: 100%;
	margin: 0;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	width: 51%;
	z-index: -1;
}
/*------------------------- Pages ------------------------*/
.page {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}


.page .language-page {
	background: #014B52;
	overflow: hidden;
	min-height: 720px;
	margin:  0px 0px 0px -30px;
}




.page .about-page {
	background: url(../images/bg-about.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
.page .home-page {
	background: url(../images/bg-home.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
.page .start-page {
	background: url(../images/bg-start.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
.page .example-page {
	background: url(../images/bg-project.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
.page .block-page {
	background: url(../images/bg-block.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
.page .blog-page {
	background: url(../images/bg-blog.png) repeat-y right top;
	overflow: hidden;
	min-height: 720px;
}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'AbelRegular';
	src: url('../fonts/abel-regular-webfont.eot');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/abel-regular-webfont.woff') format('woff'), url('../fonts/abel-regular-webfont.ttf') format('truetype'), url('../fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Sidebar ------------------------*/
.sidebar {
	width: 122px;
	float: left;
}
.sidebar a#logo {
	display: block;
	margin: 37px 0 0 20px;
}
.sidebar ul {
	list-style: none;
	margin: 46px 0 0;
	padding: 0;
}
.sidebar ul li {
	min-height: 0!important;
	margin-top: -4px;
}
.sidebar ul li a {
	color: #FFF;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	font-size: 18px;
	letter-spacing: .04em;
	line-height: 215px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	text-align: center;
	float: right;
	text-shadow: 2px 2px 0px #555555;
}
.sidebar ul li.selected.home a, .sidebar ul li.selected.home:hover a {
	border-radius: 10px 0 0px 10px;
	width: 122px;
	background: url(../images/nav-icon.png) no-repeat 36px -56px #13abe1;
}
.sidebar ul li.home:hover a {
	width: 114px;
	background: url(../images/nav-icon.png) no-repeat 33px -56px #13abe1;
}
.sidebar ul li.home a {
	width: 114px;
	height: 144px;
	background: url(../images/nav-icon.png) no-repeat 33px 45px #13abe1;
}
.sidebar ul li.selected.start a, .sidebar ul li.selected.start:hover a {
	border-radius: 10px 0 0px 10px;
	width: 122px;
	background: url(../images/nav-icon.png) no-repeat 36px -271px #f3be07;
}
.sidebar ul li.start:hover a {
	width: 114px;
	background: url(../images/nav-icon.png) no-repeat 33px -271px #f3be07;
}
.sidebar ul li.start a {
	width: 114px;
	height: 144px;
	background: url(../images/nav-icon.png) no-repeat 33px -163px #f3be07;
}
.sidebar ul li.selected.example a, .sidebar ul li.selected.example:hover a {
	border-radius: 10px 0 0px 10px;
	width: 122px;
	background: url(../images/nav-icon.png) no-repeat 36px -480px #c0ac66;
}
.sidebar ul li.example:hover a {
	width: 114px;
	background: url(../images/nav-icon.png) no-repeat 33px -480px #c0ac66;
}
.sidebar ul li.example a {
	width: 114px;
	height: 144px;
	background: url(../images/nav-icon.png) no-repeat 33px -377px #c0ac66;
}
.sidebar ul li.selected.block a, .sidebar ul li.selected.block:hover a {
	border-radius: 10px 0 0px 10px;
	width: 122px;
	background: url(../images/nav-icon.png) no-repeat 38px -675px #aec066;
}
.sidebar ul li.block:hover a {
	width: 114px;
	background: url(../images/nav-icon.png) no-repeat 35px -675px #aec066;
}
.sidebar ul li.block a {
	width: 114px;
	height: 144px;
	background: url(../images/nav-icon.png) no-repeat 35px -576px #aec066;
}
.sidebar ul li.selected.blog a, .sidebar ul li.selected.blog:hover a {
	border-radius: 10px 0 0px 10px;
	width: 122px;
	background: url(../images/nav-icon.png) no-repeat 37px -848px #528846;
}
.sidebar ul li.blog:hover a {
	width: 114px;
	background: url(../images/nav-icon.png) no-repeat 33px -848px #528846;
}
.sidebar ul li.blog a {
	width: 114px;
	height: 144px;
	background: url(../images/nav-icon.png) no-repeat 33px -763px #528846;
}
/*
.sidebar div.connect {
	position:absolute;
	bottom:0;
	margin:0 0 29px 57px;
}
.sidebar div.connect a {
	text-indent:-99999px;
	display:block;
}
.sidebar div.connect a#fb {
	background:url(../images/icons.png) no-repeat 0 0;
	width:26px;
	height:24px;
	margin-bottom:20px;
}
.sidebar div.connect a#fb:hover {
	background:url(../images/icons.png) no-repeat 0 -276px;
}
.sidebar div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 -25px;
	width:26px;
	height:20px;
	margin-bottom:17px;
}
.sidebar div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -301px;
}
.sidebar div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -46px;
	width:26px;
	height:23px;
	margin-bottom:16px;
}
.sidebar div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -322px;
}
.sidebar div.connect a#youtube {
	background:url(../images/icons.png) no-repeat 0 -70px;
	width:26px;
	height:24px;
}
.sidebar div.connect a#youtube:hover {
	background:url(../images/icons.png) no-repeat 0 -346px;
}
*/
/*------------------------- Body ------------------------*/
.body {
	float: right;
	padding: 44px 0 0;
	position: relative;
	width: 838px;
}

.body-language{
	padding: 20px 0 0 0;
	position: relative;

	width: 100%;
}



.body-language .content-language div h3 {
	color: #FFF;
	font-size: 42px;
	font-weight: 400 bold;
	letter-spacing: .02em;
	line-height: 36px;
	margin:auto;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 0px 30px 0px;
}

.body-language .content-language div div h1 {
	
	color: #fff;
	font-size: 32px;

	margin: 0;
	text-align: center;
	font-family: Noto Sans TC, "微軟正黑體";
		padding: 0px 0px 30px 0px;
}
.body-language .content-language div div p {
	color: #CFCFCF;
	font-size: 22px;
	line-height: 24px;
	margin: 0 0 22px;
	padding: 0px 0 0 0px;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	text-align: center;	
}
.body-language .content-language div div a {
	color: #CFCFCF;
	font-size: 27px;
	line-height: 24px;
	margin: 0 0 22px;
	padding: 5px 0 0 1px;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	text-align: center;	
	text-decoration: none;
}



.body-language .content-language .language-featured img {
	display: block;
    margin: auto;
	width:80%;
	opacity: 0.5;
	
	padding: 20px 0 20px 0;
	
}











.body .content-about div div {
	float: left;
	margin: 0;
	padding: 5px 60px 0 0;
	width: 710px;
}
.body .content-about div div h1 {
	color: #7b8846;
	font-size: 22px;
	font-weight: 400 bold;
	line-height: 24px;
	margin: 0;
	font-family: Noto Sans TC, "微軟正黑體";
}
.body .content-about div:first-child h3 {
	color: #5c3820;
	font-size: 27px;
	font-weight: 400 bold;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0 0 36px;
	text-transform: uppercase;
}
.body .content-about div {
	background: url(../images/bg-2-column.png) repeat-y;
	background-color: #fff;
	margin: -9px 5px 0 18px;
	overflow: hidden;
	padding: 26px 0 30px 30px;
}
.body .content-about div:first-child {
	background: none #FFF;
	margin-top: 0;
	padding-bottom: 0;
}
.body .content-about div div p {
	color: #5c3820;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 22px;
	padding: 0 0 0 1px;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.body .content-about div div p span.highlight-text-bigger {
	color: #000000;
	font-size: 22px;
}
.body .content-about div div p span.highlight-text-normal {
	color: #000000;
	font-size: 18px;
}
.body .content-about div div p span.url-text-normal {
	color: #0061CC;
	font-size: 18px;
}
.body .content-about div div.sidebar {
	background: none;
	float: left;
	padding: 0;
	width: 281px;
}
.body .content-about div div.sidebar div:first-child a:hover {
	color: #ce4718;
}
.body .content-about div div.sidebar div h3 {
	color: #7B8846;
	font-size: 21px;
	font-weight: 400;
	margin: 13px 0 8px;
	text-transform: none;
}
.body .content-about div div.sidebar div.section ul li a:first-child {
	float: left;
	margin: 9px 20px 0 0;
}
.body .content-about div div.sidebar div:first-child {
	border: 0;
	padding-bottom: 7px;
}
.body .content-about div div.sidebar div {
	background: none;
	border-top: 1px solid #e2d4b1;
	padding: 0 20px;
	width: 241px;
}
.body .content-about div div.sidebar div ul {
	list-style: none;
	margin: -10px 0 0 -8px;
	overflow: hidden;
	padding: 3px 0 5px;
}
.body .content-about div div.sidebar div ul li {
	float: left;
	padding: 10px;
	width: 63px;
}
.body .content-about div div.sidebar div.section ul li {
	margin: 9px 0 0;
	padding: 0;
	width: 241px;
}
.body .content-about div div.sidebar div.section ul li a {
	color: #5c3820;
	float: left;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 6px 0 0;
	text-transform: none;
}
.body .content-about div div.sidebar div.section ul li a:hover {
	text-decoration: none!important;
	color: #ce4718;
}
.body .content-about div div p {
	text-indent: 25px;
}
.body .content-about div div p img {
	border-radius: 15px;
}
.body .content-about div div p img:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-about div ul {
	list-style: none;
	margin: 11px 0 25px;
	overflow: hidden;
	padding: 0;
}
.body .content-about div ul li {
	float: left;
	margin: 0 0 0 35px;
	position: relative;
	width: 360px;
}
.body .content-about div ul li h4 {
	margin: 32px 0 0 0;
	position: absolute;
	right: 10px;
	top: 118px;
}
.body .content-about div ul li h4 a {
	color: #fff;
	font-family: Noto Sans TC, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.body .content-about div ul li h4 a:hover {
	text-decoration: none;
}
.body .content-about div div.sidebar div:first-child a {
	color: #5c3820;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 12px;
	text-decoration: none;
}
.body .content-about div div.sidebar div.section ul li span a {
	display: inline;
	float: none!important;
	font-size: 10px;
	font-weight: 400;
	margin: 0!important;
}
.body .content-home div {
	background-color: #fff;
	margin: -9px 5px 0 18px;
	overflow: hidden;
	padding: 26px 30px 21px;
}
.body .content-home div h3 {
	color: #825444;
	float: left;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	font-size: 27px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0;
	text-transform: uppercase;
	width: 270px;
}
.body .content-home div h3 span.beauty {
	color: #26bcb3;
}
.body .content-home div h3 span.function {
	color: #aec066;
}
.body .content-home div h3 span.works {
	color: #ff9600;
}
.body .content-home div h3 span.zenbo {
	color: #12afe2;
}
.body .content-home div h3 span.scratch {
	color: #f3be07;
}
.body .content-home div p {
	color: #5c3820;
	float: left;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	font-size: 17px;
	line-height: 30px;
	margin: 2px 0 0 110px;
	width: 350px;
}
.body .content-home div ul {
	list-style: none;
	margin: 11px 0 25px;
	overflow: hidden;
	padding: 0;
}
.body .content-home div ul li {
	float: left;
	margin: 0 0 0 35px;
	position: relative;
	width: 360px;
}
.body .content-home div ul li h4 {
	margin: 32px 0 0;
	position: absolute;
	right: 10px;
	top: 118px;
}
.body .content-home div ul li h4 a {
	color: #fff;
	font-family: Noto Sans TC, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.body .content-home div ul li h4 a:hover {
	text-decoration: none;
}
.body .content-home div ul li h3 {
	float: none;
	line-height: 24px;
	margin: 21px 0 0;
	width: auto;
}
.body .content-home div ul li h3 a {
	color: #13abe1;
	float: none;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	font-size: 23px;
	text-decoration: none;
	text-transform: none;
}
.body .content-home div ul li p {
	color: #5c3820;
	float: none;
	font-size: px;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 26px 0 25px;
	width: 360px;
}
.body .content-home div ul li p a {
	color: #5c3820;
	float: none;
	font-size: 13px;
	text-decoration: underline;
	text-transform: none;
}
.body .content-home div ul li p a:hover {
	color: #13abe1;
}
.body .content-home div ul li a {
	clear: both;
	color: #ce4718;
	font-family: Noto Sans TC, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}
.body .content-home div ul li a:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
}
.body .content-start div:first-child {
	background: none #FFF;
	margin-top: 0;
	padding-bottom: 0;
}
.body .content-start div {
	background: url(../images/bg-2-column.png) repeat-y;
	background-color: #fff;
	margin: -9px 5px 0 18px;
	overflow: hidden;
	padding: 26px 0 30px 30px;
}
.body .content-start div:first-child h3 {
	color: #5c3820;
	font-size: 27px;
	font-weight: 400 bold;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0 0 36px;
	text-transform: uppercase;
}
.body .content-start div div {
	float: left;
	margin: 0;
	padding: 5px 60px 0 0;
	width: 710px;
}
.body .content-start div div h1 {
	color: #7b8846;
	font-size: 22px;
	font-weight: 400 bold;
	line-height: 24px;
	margin: 0;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.body .content-start div div p {
	color: #5c3820;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 22px;
	padding: 0 0 0 1px;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.body .content-start div div p span.highlight-text-bigger {
	color: #000000;
	font-size: 22px;
}
.body .content-start div div p span.highlight-text-normal {
	color: #000000;
	font-size: 18px;
}
.body .content-start div div p span.url-text-normal {
	color: #0061CC;
	font-size: 18px;
}
.body .content-start div div.sidebar {
	background: none;
	float: left;
	padding: 0;
	width: 281px;
}
.body .content-start div div.sidebar div:first-child {
	border: 0;
	padding-bottom: 7px;
}
.body .content-start div div.sidebar div:first-child a {
	color: #5c3820;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 12px;
	text-decoration: none;
}
.body .content-start div div.sidebar div:first-child a:hover {
	color: #ce4718;
}
.body .content-start div div.sidebar div {
	background: none;
	border-top: 1px solid #e2d4b1;
	padding: 0 20px;
	width: 241px;
}
.body .content-start div div.sidebar div h3 {
	color: #7B8846;
	font-size: 21px;
	font-weight: 400;
	margin: 13px 0 8px;
	text-transform: none;
}
.body .content-start div div.sidebar div ul {
	list-style: none;
	margin: -10px 0 0 -8px;
	overflow: hidden;
	padding: 3px 0 5px;
}
.body .content-start div div.sidebar div ul li {
	float: left;
	padding: 10px;
	width: 63px;
}
.body .content-start div div.sidebar div.section ul li {
	margin: 9px 0 0;
	padding: 0;
	width: 241px;
}
.body .content-start div div.sidebar div.section ul li a:first-child {
	float: left;
	margin: 9px 20px 0 0;
}
.body .content-start div div.sidebar div.section ul li a {
	color: #5c3820;
	float: left;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 6px 0 0;
	text-transform: none;
}
.body .content-start div div.sidebar div.section ul li a:hover {
	text-decoration: none!important;
	color: #ce4718;
}
.body .content-start div div p {
	text-indent: 25px;
}
.body .content-start div div.sidebar div.section ul li span a {
	display: inline;
	float: none!important;
	font-size: 10px;
	font-weight: 400;
	margin: 0!important;
}
.body .content-start div div p img {
	border-radius: 15px;
}
.body .content-start div div p img:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-start div ul {
	list-style: none;
	margin: 11px 0 25px;
	overflow: hidden;
	padding: 0;
}
.body .content-start div ul li {
	float: left;
	margin: 0 0 0 35px;
	position: relative;
	width: 360px;
}
.body .content-start div ul li h4 {
	margin: 32px 0 0 0;
	position: absolute;
	right: 10px;
	top: 118px;
}
.body .content-start div ul li h4 a {
	color: #fff;
	font-family: Noto Sans TC, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.body .content-start div ul li h4 a:hover {
	text-decoration: none;
}
.body .content-start div.content-start-after h2 {
	color: #4f4f4f;
	font-size: 21px;
	font-weight: 400;
	margin: 13px 0 8px;
	text-transform: none;
}
.body .content-start div.content-start-after ul li a {
	color: #fff;
	font-family: Noto Sans TC, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif, "微軟正黑體";
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
}
.body .content-start div.content-start-after ul li a:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-start div.content-start-after ul {
	list-style: none;
	margin: 11px 0 25px 0;
	overflow: hidden;
	padding: 0;
}
.body .content-start div.content-start-after ul li {
	float: left;
	margin: 0 0 0 5px;
	position: relative;
	width: 360px;
}
.body .content-example div:first-child {
	padding-bottom: 0;
}
.body .content-example div {
	background-color: #FFF;
	margin: 0 5px 0 18px;
	overflow: hidden;
	padding: 1px 0 21px 30px;
}
.body .content-example div:first-child h3 {
	color: #5c3820;
	display: block;
	font-size: 27px;
	text-transform: uppercase;
	font-weight: bold;
}
.body .content-example-detail div {
	background-color: #FFF;
	margin: 0 5px 0 18px;
	overflow: hidden;
	padding: 1px 15px 21px 1px;
}
.body .content-example-detail div:first-child h3 {
	color: #5c3820;
	display: inline-block;
	float: left;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0;
	text-transform: uppercase;
	padding: 10px 0px 0px 15px;
}
.body .content-example-detail div:first-child h4 {
	color: #676767;
	display: inline-block;
	float: left;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0;
	padding: 0px 0px 0px 50px;
}
.body .content-example div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.body .content-example div ul li {
	float: left;
	margin: 0 0 20px;
	width: 388px;
}
.body .content-example div ul li span {
	display: block;
	height: 35px;
	width: 380px;
	border-radius: 15px;
	background: #000;
	background: rgba(221, 133, 20, .8);
	top: 50%;
	z-index: 4;
	margin-top: -2.4em;
	opacity: .8;
	text-shadow: 2px 2px 0px #000000;
}
.body .content-example div ul li span a {
	color: #FFF;
	font-size: 18px;
	line-height: 33px;
	margin: 0 0 0 15px;
	text-decoration: none;
}
.body .content-example div ul li a.content-example-video {
	width: 123px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(255, 12, 87, .8);
	font-size: 16px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example div ul li a.content-example-video:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example div ul li a.content-example-download {
	width: 123px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(18, 175, 226, .8);
	font-size: 16px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example div ul li a.content-example-download:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example div ul li a.content-example-editonline {
	width: 123px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(3, 196, 180, .8);
	font-size: 16px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example div ul li a.content-example-editonline:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-video {
	width: 180px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(255, 12, 87, .8);
	font-size: 20px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-video:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-download {
	width: 180px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(18, 175, 226, .8);
	font-size: 20px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-download:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-editonline {
	width: 180px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: rgba(3, 196, 180, .8);
	font-size: 20px;
	line-height: 33px;
	text-align: center;
	border-radius: 15px;
}
.body .content-example-detail div.figure div.example-detail-buttons a.content-example-editonline:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
	text-decoration: none;
}
.body .content-example-detail div.figure div.example-detail-buttons {
	text-align: center;
}
.body .content-example div ul li span a:hover {
	text-decoration: none!important;
}
.body .content-example div div.paging {
	margin: 201px 0 13px;
	padding: 0;
}
.body .content-example div div.paging ul {
	float: left;
	overflow: hidden;
}
.body .content-example div div.paging ul li {
	float: left;
	margin: 0 5px 0 0;
	width: auto;
}
.body .content-example div div.paging ul li.selected a, .body .content-example div div.paging ul li a:hover {
	background-color: #dd8514;
}
.body .content-example div div.paging ul li a {
	background-color: #5c3820;
	color: #fff;
	display: block;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 23px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	width: 23px;
}
.body .content-example div div.paging span {
	color: #5c3820;
	float: right;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 11px;
	letter-spacing: .02em;
	line-height: 36px;
	padding: 0 28px 0 0;
	text-transform: uppercase;
}
.body .content-example div.figure img {
	display: block;
}
.body .content-example div.figure span {
	background-color: #dd8514;
	color: #000000;
	display: block;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 28px;
	text-indent: 15px;
	top: 410px;
	width: 198px;
}
.body .content-example div.figure div h3 {
	color: #7b8846;
	font-size: 21px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 14px;
}
.body .content-example div.figure div p {
	color: #5c3820;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 13px;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0;
}
.body .content-example div ul li a img {
	width: 368px;
	border-radius: 15px;
	border: 1px solid #ccc;
	padding: 5px;
}
.body .content-block div div {
	background: none;
	float: left;
	margin: 0;
	padding: 0 31px 0 0;
	width: 763px;
}
.body .content-block div h3 {
	color: #5C3820;
	font-size: 27px;
	font-weight: 400 bold;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.body .content-block div h4 {
	color: #5c3820;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0 0 16px;
	text-transform: uppercase;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.body .content-block div.block {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	width: 95%;
	background-color: none;
	border-bottom: 2px solid gray;
}
.body .content-block div.block {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	width: 95%;
	background-color: none;
	border-bottom: 2px solid gray;
}
.body .content-block div.block p {
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	font-size: 18px;
}
.body .content-blog div {
	background: url(../images/bg-2-column.png) repeat-y scroll 0 0 transparent;
	margin: 0 5px 0 18px;
	overflow: hidden;
	padding: 26px 0 603px 30px;
}
.body .content-blog div div h3 {
	color: #5C3820;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 36px;
	margin: 0 0 52px;
	text-transform: uppercase;
}
.body .content-blog div div p a {
	color: #CE4718;
	margin: 0;
	text-decoration: none;
	text-transform: none;
}
.body .content-blog div div form h4 {
	color: #7B8846;
	font-size: 21px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: none;
}
.body .content-blog div div form {
	clear: both;
	margin: 0 0 46px;
	padding: 4px 0 0;
}
.body .content-blog div div form textarea {
	background-color: #EEE;
	border: 1px solid #B9B9B9;
	color: #939393;
	display: block;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 11px;
	height: 189px;
	letter-spacing: .02em;
	margin: 0 0 18px;
	overflow: auto;
	padding: 4px 10px;
	resize: none;
	width: 451px;
}
.body .content-blog div div.sidebar {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 0;
	padding: 0 20px;
	width: 241px;
}
.body .content-blog div div.sidebar h3 {
	color: #7B8846;
	font-size: 21px;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 9px 0 15px;
	text-transform: none;
}
.body .content-blog div div.sidebar span {
	color: #5c3820;
	display: block;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 12px;
}
.body .content-blog div div.sidebar p {
	color: #5c3820;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 12px;
}
.body .content-blog div div.sidebar p a:hover {
	color: #ce4718!important;
}
.body .content-home div:first-child, .body .content-start div div.sidebar div:first-child h3 {
	margin-top: 0;
}
.body .content-home div p a, .body .content-start div div p a, .body .content-example div.figure div p a {
	color: #ce4718;
	text-decoration: none;
}
.body .content-home div p a:hover, .body .content-home div ul li a:hover, .body .content-start div div p a:hover, .body .content-start div div.sidebar div.section ul li a:hover, .body .content-start div div.sidebar div.section ul li span a:hover, .body .content-example div ul li span a:hover, .body .content-example div.figure div p a:hover, .body .content-block div div ul li p a:hover, .body .content-block div div ul li a:hover, .body .content-block-single div div div.paging a:hover, .body .content-block-single div div ul li h4 a:hover, .body .content-block-single div div ul li p a:hover, .body .content-block-single div div ul li div.section div a:hover, .body .content-blog div div p a:hover {
	text-decoration: underline;
}
.body .content-about div.featured, .content-home div.featured, .body .content-start div.featured, .body .content-example div.featured, .body .content-block div.featured {
	background: url(../images/shadow.png) no-repeat left bottom;
	margin: 0;
	padding: 0 0 9px;
	position: relative;
	z-index: 1000;
}
.body .content-about div.featured, .content-home div.featured img, .body .content-start div.featured img, .body .content-example div.featured img, .body .content-block div.featured img {
	display: block;
	margin: 0 0 0 13px;
}
.body .content-home div ul li:first-child, .body .content-start, .body .content-start div div.sidebar div ul li:first-child, .body .content-start div div.sidebar div.section ul li:first-child, .body .content-block div div.sidebar div.blog-categories ul li:first-child, .body .content-block-single div div.sidebar div.blog-categories ul li:first-child {
	margin: 0;
}
.body .content-start div div.sidebar div:first-child a.selected, .body .content-example div.navigation ul li a:hover, .body .content-example div.navigation ul li.selected a {
	color: #ce4718;
}
.body .content-start div div.sidebar div ul li a, .body .content-block div div.sidebar div ul li a, .body .content-block-single div div.sidebar div ul li a {
	margin: 0 0 -1px;
}
.body .content-start div div.sidebar div ul li a img:hover, .body .content-example div ul li a img:hover, .body .content-block div div ul li a:first-child img:hover, .body .content-block div div.sidebar div ul li a img:hover, .body .content-block-single div div ul li a img:hover, .body .content-block-single div div.sidebar div ul li a img:hover {
	filter: alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity: 0.8;
}
.body .content-start div div.sidebar div.section ul, .body .content-block div div.sidebar div.section ul, .body .content-block-single div div.sidebar div.section ul {
	margin: 0;
	padding: 0;
}
.body .content-start div div.sidebar div.section ul li span, .body .content-block div div.sidebar div.section ul li span, .body .content-block-single div div.sidebar div.section ul li span {
	display: inline-block;
	font-size: 10px;
}
.body .content-block div, .body .content-block-single div {
	background: url(../images/bg-2-column.png) repeat-y scroll 0 0 transparent;
	margin: 0 5px 0 18px;
	overflow: hidden;
	padding: 26px 0 0 30px;
}
.body .content-block div div ul li:first-child, .body .content-block div div.sidebar div.section ul li:first-child, .body .content-block-single div div.sidebar div.section ul li:first-child {
	padding-top: 0;
}
.body .content-block div div ul li p a, .body .content-block-single div div ul li p a {
	color: #CE4718;
	margin: 0;
	text-decoration: none;
	text-transform: none;
}
.body .content-block div div.sidebar, .body .content-block-single div div.sidebar {
	background: none repeat scroll 0 0 transparent;
	float: left;
	padding: 0;
	width: 281px;
}
.body .content-block div div.sidebar div:first-child, .body .content-block-single div div.sidebar div:first-child {
	border: 0;
	padding-top: 0;
}
.body .content-block div div.sidebar div, .body .content-block-single div div.sidebar div {
	background: none repeat scroll 0 0 transparent;
	border-top: 1px solid #E2D4B1;
	padding: 11px 20px 0;
	width: 241px;
}
.body .content-block div div.sidebar div h3, .body .content-block-single div div.sidebar div h3 {
	color: #7B8846;
	font-size: 21px;
	font-weight: 400;
	margin: 0;
	text-transform: none;
}
.body .content-block div div.sidebar div form, .body .content-block-single div div.sidebar div form {
	margin: 0 0 17px;
	overflow: hidden;
}
.body .content-block div div.sidebar div form input:first-child, .body .content-block-single div div.sidebar div form input:first-child {
	background: none #fff;
	border-color: #fef7e8;
	border-style: solid solid solid none;
	border-width: 1px;
	color: #939393;
	font-size: 11px;
	height: 14px;
	letter-spacing: .02em;
	margin: 0;
	padding: 5px 5px 4px;
	width: 187px;
}
.body .content-block div div.sidebar div.blog-categories ul, .body .content-block-single div div.sidebar div.blog-categories ul {
	margin: 9px 0 21px;
	padding: 0;
}
.body .content-block div div.sidebar div.blog-categories ul li, .body .content-block-single div div.sidebar div.blog-categories ul li {
	border: 0;
	margin: 12px 0 0;
	padding: 0;
	width: 241px;
}
.body .content-block div div.sidebar div.blog-categories ul li a, .body .content-block-single div div.sidebar div.blog-categories ul li a {
	color: #5c3820;
	float: none;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0;
	text-align: left;
	text-transform: none;
}
.body .content-block div div.sidebar div.blog-categories ul li a:hover, .body .content-block-single div div.sidebar div.blog-categories ul li a:hover {
	color: #ce4718;
	text-decoration: none!important;
}
.body .content-block div div.sidebar div ul, .body .content-block-single div div.sidebar div ul {
	list-style: none outside none;
	margin: -7px 0 0 -8px;
	overflow: hidden;
	padding: 3px 0 5px;
}
.body .content-block div div.sidebar div ul li, .body .content-block-single div div.sidebar div ul li {
	border: 0;
	float: left;
	padding: 10px;
	width: 63px;
}
.body .content-block div div.sidebar div.section ul li, .body .content-block-single div div.sidebar div.section ul li {
	padding: 6px 0 0;
	width: 241px;
}
.body .content-block div div.sidebar div.section ul li a:first-child, .body .content-block-single div div.sidebar div.section ul li a:first-child {
	float: left;
	margin: 12px 20px 0 0;
}
.body .content-block div div.sidebar div.section ul li a, .body .content-block-single div div.sidebar div.section ul li a {
	color: #5C3820;
	float: left;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 6px 0 0;
	text-transform: none;
}
.body .content-block div div.sidebar div.section ul li a:hover, .body .content-block-single div div.sidebar div.section ul li a:hover {
	color: #ce4718;
	text-decoration: none!important;
}
.body .content-block div div.sidebar div.section ul li span a, .body .content-block-single div div.sidebar div.section ul li span a {
	display: inline;
	float: none!important;
	font-size: 10px;
	font-weight: 400;
	margin: 0!important;
}
.body .content-block-single div div, .body .content-blog div div {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 0;
	padding: 0 31px 0 0;
	width: 473px;
}
.body .content-block-single div div ul li p, .body .content-blog div div p {
	color: #5C3820;
	font-size: 13px;
	letter-spacing: .02em;
	line-height: 24px;
	margin: 0 0 24px;
	padding: 0 0 0 1px;
}
.body .content-block-single div div ul li div.section div form input, .body .content-blog div div form input {
	background-color: #eee;
	border: 1px solid #b9b9b9;
	color: #939393;
	display: block;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 11px;
	height: 20px;
	letter-spacing: .02em;
	line-height: 22px;
	margin: 0 0 18px;
	padding: 4px 10px;
	width: 451px;
}
.body .content-block-single div div ul li div.section div form input#submit, .body .content-blog div div form input.submit {
	background-color: #dd8514;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	height: 23px;
	line-height: 0;
	margin: 0;
	width: 119px;
}
.body .content-block-single div div ul li div.section div form input#submit:hover, .body .content-blog div div form input.submit:hover {
	background-color: #e0912c;
}
.body .content-block div span.variable {
	color: #13abe1;
}
.body .content-block div span.highlight {
	font-weight: bold;
}
.body .content-block div a h3 {
	font-weight: bold;
	font-size: 22px;
}
.body .content-block div a.hyperlink {
	text-decoration: none;
}
.body .content-block div span.block-name {
	color: #FE3E42;
	font-weight: bold;
}
/*------------------------- Footer ------------------------*/
.footer {
	height: 35px;
	overflow: hidden;
	padding: 20px 10px 0px 10px;
	background-color: gray;
	margin: 10px 5px 0 18px;
	border-radius: 15px 15px 0px 0px;
	opacity: .9;
	border-bottom: 1px solid #BBBBBB;
}
.footer p {
	float: left;
	color: #fff;
	font-size: 16px;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	text-indent: 2px;
	letter-spacing: .02em;
	margin: 0;
}
.footer ul {
	float: right;
	overflow: hidden;
	list-style: none;
	margin: -5px 0 0;
	padding: 0;
}
.footer ul li {
	float: left;
}
.footer ul li a {
	color: #fff;
	font-size: 16px;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	text-indent: 2px;
	letter-spacing: .02em;
	text-decoration: none;
	border-left: 1px solid #fff;
	padding: 0 6px;
}
.footer ul li:first-child a {
	border: 0;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.footer-bottom {
	height: 35px;
	overflow: hidden;
	padding: 15px 10px 0px 10px;
	background-color: #888888;
	margin: 0px 5px 10px 18px;
	border-radius: 0px 0px 15px 15px;
	border-top: 1px solid #BBBBBB;
	opacity: .9;
}
.footer-bottom p {
	float: left;
	color: #fff;
	font-size: 16px;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	text-indent: 2px;
	letter-spacing: .02em;
	margin: 0;
}
.footer-bottom ul {
	float: right;
	overflow: hidden;
	list-style: none;
	margin: -5px 0 0;
	padding: 0;
}
.footer-bottom ul li {
	float: left;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.footer-bottom ul li a {
	color: #fff;
	font-size: 14px;
	font-family: Noto Sans TC, Arial, Helvetica, sans-serif, "微軟正黑體";
	text-indent: 2px;
	letter-spacing: .02em;
	text-decoration: none;
	border-left: 1px solid #fff;
	padding: 0 6px;
	text-shadow: 2px 2px #555555;
}
.footer-bottom ul li:first-child a {
	border: 0;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.footer-bottom ul li a:hover {
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
}
.footer-bottom ul:first-child {
	float: left;
	overflow: hidden;
	list-style: none;
	margin: -5px 0 0;
	padding: 0;
}
.footer-bottom ul:first-child li {
	float: left;
}
.footer-bottom ul:first-child li img {
	vertical-align: text-top;
	border-left: 1px solid #fff;
	padding: 0px 0px 0px 10px;
}
.footer-bottom ul:first-child li:first-child img {
	border: 0;
	width: 22px;
	height: 22px;
}
.footer-bottom ul:first-child li a {
	color: #fff;
	font-size: 18px;
	text-indent: 2px;
	letter-spacing: .02em;
	text-decoration: none;
	border-left: 0px;
	padding: 0 6px;
}
.footer-bottom ul:first-child li a:hover {
	text-decoration: none;
	color: #37b8ff;
}

.footer-middle {
	opacity: .9;
}
.footer-middle-email {
	display: inline-block;
	margin: 0px 0px -5px 18px;
	width: 407px;
	height: 50px;
	background-color: #3B5998;
	overflow: hidden;
	min-height: 50px;
	position: relative;
	z-index: 1;
}
.footer-middle-email:hover {
	background-color: #2A447B;
	overflow: hidden;
	opacity: 1.0;
}
.footer-middle-email img {
	vertical-align: sub;
	padding: 0px 0px 0px 20px;
	width: 22px;
	height: 22px;
	margin: 14px 0px 0px 0px;
}
.footer-middle-email a {
	padding: 0px 0px 0px 5px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	color: #fff;
}
.footer-middle-youtube {
	display: inline-block;
	width: 408px;
	margin: 0px 0px -5px -4px;
	height: 50px;
	background-color: #D34836;
	overflow: hidden;
	min-height: 50px;
}
.footer-middle-youtube:hover {
	background-color: #B33524;
	opacity: 1.0;
	overflow: hidden;
}
.footer-middle-youtube img {
	vertical-align: sub;
	margin: 14px 0px 0px 0px;
	padding: 00px 0px 0px 150px;
	width: 22px;
	height: 22px;
}
.footer-middle-youtube a {
	padding: 0px 0px 0px 5px;
	width: 22px;
	height: 22px;
	text-decoration: none;
	font-family: Noto Sans TC, AbelRegular, "微軟正黑體";
	color: #fff;
}
.footer-middle-youtube a#youtube {
	display : inline-block;
	width: 190px;
	height: 40px;
	padding: 0px;
	position: relative;
	z-index: 9999;
}
/*----------add section ----------*/
.body .content-example-detail table {
	width: 100%;/*border-width:3px; border-style:solid;*/
    /*border-collapse: collapse;*/
}
.body .content-example-detail table tr:nth-child(even) {
	/*example table even row cell*/
	background-color: #f2f2f2;
}
.body .content-example-detail table tr {
	height: 45px;
	color: black;
}
.body .content-example-detail table th {
	background-color: #e2e2e2;
	color: #7f7f7f;
	border: 2px solid #fff;
	border-radius: 15px 15px 15px 15px;
	width: 80px;
}
.body .content-example-detail .bss-slides figure img {
	border: 1px solid #ccc;
	padding: 5px;
	border-color: #7f7f7f;
	background-color: #7f7f7f;
	border-radius: 20px;
}
.body .content-example-detail .bss-slides figure {
	/*width: 100%;*/
	width: 762px;
}
.body .content-blog iframe {
	margin: 0px 0px 0px 15px;
}
.body .btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial, "微軟正黑體";
	color: #ffffff;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin: 0px 0px 5px 15px;  /*add to arrage*/
}
.body .btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
.body .content-dispatcher {
	background-color: black;
}
